body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100svh;
    perspective: 1000px;
}
.cube{
    width:200px;
    height:200px;
    position: relative;
    transform-style: preserve-3d;
    animation: myanimation 5s infinite;
   
}
@keyframes myanimation {
    
    100%{
        transform: rotateX(360deg) rotateY(90deg);
    }
    
}
.cube div{
    height: 200px;
    width: 200px;
    background-color: lab(53.53% 80.92 45.68 / 0.945);
    position: absolute;
     border: 2px solid rgb(245, 236, 236);
     opacity: 0.6;


}
.left{
    transform:rotateY(90deg) translateZ(100px);
 
}.right{
     transform:rotateY(90deg) translateZ(-100px);

}
.top{
     transform:rotateX(90deg) translateZ(100px);
}
.bottom{
     transform:rotateY(90deg) translateZ(-100px);
}
.front{
     transform:translateZ(100px);
}
.back{
     transform:translateZ(-100px);
}
